<!DOCTYPE html>
<html>
<head>
    <title>Contract Obligation Reminder System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="hero">

        <h1>📑 Contract Obligation Reminder System</h1>

        <p>
            AI-powered contract analysis system that extracts obligations,
            identifies responsible persons, assigns risk levels,
            and generates reminders automatically.
        </p>

        <div class="hero-buttons">
            <a href="/login" class="btn">Login</a>
            <a href="/signup" class="btn">Sign Up</a>
        </div>

    </div>

</body>
</html>